<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <h1> My second Flask Frontent</h1>
        <ul> 
            <li>
                <a href="{{url_for('home')}}">inicio</a>
            </li>
            <li>
                <a href="{{url_for('home')}}">Productos</a>
            </li>
            <li>
                <a href="{{url_for('home')}}">Servicios</a>
            </li>
            <li>
                <a href="{{url_for('home')}}">Contactenos</a>
            </li>
        </ul>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>